@charset "utf-8";

.summary-frame {
    padding: 5px;
}

.summary-frame .summary {
    margin-right: 14px;
}

.summary-frame.success {
    background-color: #bfff80;
}

.summary-frame.failure {
    background-color: #ffc6bd;
}

.summary-frame .failed {
    font-weight: bold;
    color: #e02e2e;
}

.summary-frame .ignored {
    font-size: small;
}


.results-frame .describe {
    margin-top: 14px;
}

.results-frame .describe .describe, .results-frame .it, .results-frame .error {
    margin-left: 14px;
}

.results-frame .error pre {
    margin-top: 0;
}

.results-frame .describe > .description {
    font-weight: bold;
}

.results-frame .it.success > .description {
    color: #66cc00;
}

.results-frame .it.failure > .description {
    color: #e02e2e;
}

.results-frame .it.skipped > .description {
    color: #6699cc;
}

.results-frame .error {
    font-size: small;
}

.results-frame .error pre {
    font-style: italic;
}
