@charset "utf-8";

.teaolieve-describe {
    margin: 0.5em;
    margin-left: 1em;
    padding: 0.5em;
}

.teaolieve-it {
    margin-left: 3em;
    padding: 0.2em;
}

.teaolive-success {
    background-color: #adff2f;
}

.teaolive-failure {
    background-color: #ffc0cb;
}
