.idea/
.project
.children
.settings/

# Don’t commit the following directories created by pub.
build/
packages/

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

teaolive_report.xml

test/junit_output.xml
test/teaolive_report.xml
